@import '../styles/_mixins.less';

.productVertical {
  margin: 0px .7rem;
  width: 160px;
  font-size: 1rem;
  .flexbox-shrink();
  .productTitleWrap {
    .flex;
    .flex-align-items(center);
    .justify-content(center);

    height:50px;
    overflow: hidden;
  }
  .productTitle {
    font-size: 1rem;
    vertical-align: middle
  }
}

.imageWrap {
  .flex;
  height: 245px;
  img {
    max-width: 100%;
    max-height: 240px;
  }
}

.productInfo {
  .flex;
  .flex-direction(column);
  .info-wrap {
    text-align: center;
  }
}